services:
  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile.prod
    expose:
      - "3000"
    env_file:
      - ./Backend/config.env

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile.prod
    depends_on:
      - backend
    ports: 
      - "8080:80"
